{% extends "layout.html" %}
{% block content %}


<div class="row ml-2 mr-2">

    <div class="col-4">
  

        <button data-toggle="modal" data-target="#addModal" class="btn btn-primary btn-lg btn-block mb-4">Add a new bookmark</button>
        
<!-- ----------------- -->
<!-- LEFT NAVIGATE     -->
<!-- ----------------- -->      

        <div class="row border mr-2 ml-2 pb-3">
            <div class="col-12 bg-light text-center"><span class="font-weight-bold">Navigate</span></div>
            <div class="col-12 text-center mt-2">

                {% if pagedata['pagination']['prev_url'] %}
                <a href="{{ pagedata['pagination']['prev_url'] }}">Previous page</a>
                {% else %}Previous page
                {% endif %}
                 | 
                {% if pagedata['pagination']['next_url'] %}
                <a href="{{ pagedata['pagination']['next_url'] }}">Next page</a>
                {% else %}Next page
                {% endif %}
                <hr>

<!-- ----------------- -->
<!-- SEARCH FORM       -->
<!-- ----------------- -->                  
        
            
                <!-- <form method="POST" action="" autocomplete="off"> -->
                <form action="" method="POST" autocomplete="off">
                {{ searchform.hidden_tag() }}
                    <div class="input-group pl-5 pr-5">
                        {{ searchform.search(class="form-control py-2") }}
                    
                        <div class="input-group-append">
                            {{ searchform.submit_search(class="btn btn-secondary")}}
                        </div>
                    </div>
                </form>
        

                <hr>

                <div>
                    Order by: 
                    {% if pagedata['orders']['date_desc']['is_active'] == True %}
                        newest first          
                    {% elif pagedata['parameters'].get('order') == None %}
                        newest first          
                    {% else %}
                        <a href="{{ pagedata['orders']['date_desc']['url'] }}">
                            newest first
                        </a>
                    {% endif %} 
                    ,  
                    
                    {% if pagedata['orders']['date_asc']['is_active'] == True %}
                        oldest first          
                    {% else %}
                        <a href="{{ pagedata['orders']['date_asc']['url'] }}">
                            oldest first 
                        </a>
                    {% endif %}
                </div>

                

                {% if pagedata['parameters']['search'] %}
                <div class="row">
                    <div class="col-5 text-right">Active search:</div>
                    <div class="col-7 text-left pl-0">
                        <a class="text-danger" href="{{ pagedata['cancel_search_url'] }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                        {{ pagedata['parameters']['search'] }} 
                        
                    </div>
                </div>
                {% endif %}

                {% if pagedata['parameters']['tag'] %}
                <div class="row">
                    <div class="col-5 text-right">Active tag:</div>
                    <div class="col-7 text-left pl-0">
                        <a class="text-danger" href="{{ pagedata['tags_active'][0]['cancel_link'] }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                        {{ pagedata['parameters']['tag'] }} 
                    <span role="button" class="text-danger" data-toggle="modal" data-target="#deletetagModal" data-tagname="{{ pagedata['parameters']['tag'] }}">[delete tag]</span>
                    </div>
                </div>
                {% endif %}

                
        
                {{ pagedata['number_of_bookmarks_in_query'] }} bookmarks in current query 
                ({{ pagedata['items_per_page'] }} per page)
                <br> 
                {{ pagedata['number_of_bookmarks'] }} bookmarks in total!
            </div>
            

        </div>

        <br>

        
<!-- ------------- -->
<!-- MENU TAGS     -->
<!-- ------------- -->           

        <div class="row border mr-2 ml-2">
            <div class="col-12 bg-light text-center">
                <span class="font-weight-bold">Tags</span>
                <span class="font-weight-light">
                    (
                    {%- if pagedata['parameters'].get('tags_order') == 'number' -%}
                        by number     
                    {%- elif pagedata['parameters'].get('tags_order') == None -%}    
                        by number   
                    {%- else -%}
                        <a href="{{ pagedata['tags_order']['number'] }}">by number</a>
                    {% endif %} 
                     / 
                    {% if pagedata['parameters'].get('tags_order') == 'alpha' %}
                        alphabetical        
                    {%- else -%}
                        <a href="{{ pagedata['tags_order']['alpha'] }}">alphabetical</a>
                    {%- endif -%} 
                    )
                </span>
            </div>
            <div class="col"></div>
            <div class="col-10 text-center pb-4 pt-2">

                {% for tag in pagedata['tags'] -%}
                    <span style="white-space: nowrap;">
                    <a href="{{ tag['link'] }}">{{ tag['name'] }}</a>
                    ({{ tag['number'] }})
                    {%- if not loop.last %}, {% endif %}
                    </span>
                    <!-- {{- ", " if not loop.last -}} -->
                {%- endfor %}

            </div>
            <div class="col"></div>
        </div>

        <br>
    

        
    </div>


    <div class="col-8 border-left">



<!-- -------------- -->
<!-- FLASH DIV      -->
<!-- -------------- -->        

        <div class="flashwrapper">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div id=flashwrapper class="alert alert-{{ category }} alert-dismissible col-md-12" role="alert">
                          {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="close('flashwrapper')">
                        <span aria-hidden="true">&times;</span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>



<!-- ------------------- -->
<!-- BOOKMARKS LOOP      -->
<!-- ------------------- -->        


        {% for b in data %}
        
        <div id="data{{b.id}}">
            <div><strong>{{ b.title }}</strong></div>
            <div><a href="{{ b.url }}">{{ b.url }}</a></div>
            <div>{{ b.description }}</div>  
            <span class="badge badge-secondary">{{ b.date|datetimeformat }}</span>
            <span type="badge" role="button" class="badge badge-info" 
                data-toggle="modal" data-target="#editModal" 
                data-id="{{ b.id }}" data-url="{{ b.url }}"
                data-title="{{ b.title }}" data-description="{{ b.description }}"
                data-tags="{{ b.tags | map(attribute='name') | list|join(', ') }}">Edit</span>
            <span type="badge" role="button" class="badge badge-danger" 
                data-toggle="modal" data-target="#deleteModal" data-id="{{ b.id }}">Del</span>
            <span class="invisible">...</span>
            {% for t in b.tags %}
                <span type="badge" role="button" class="badge badge-secondary">
                    <a class="text-white" href="{{ url_for('index', search=pagedata['parameters']['search'], page=pagedata['parameters']['page'], order=pagedata['parameters']['order'], tag=t.name, tags_order=pagedata['parameters']['tags_order']) }}">{{ t.name }}</a>
                </span>
            {% endfor %}
            <hr>
        </div>
        {% endfor %}

<!-- ---------------------- -->
<!-- PAGINATION BOTTOM      -->
<!-- ---------------------- -->  

        {% if pagedata['pagination']['prev_url'] %}
        <a href="{{ pagedata['pagination']['prev_url'] }}">Previous page</a>
        {% endif %}
        {% if pagedata['pagination']['prev_url'] and pagedata['pagination']['next_url'] %} | {% endif %}
        {% if pagedata['pagination']['next_url'] %}
        <a href="{{ pagedata['pagination']['next_url'] }}">Next page</a>
        <hr>
        {% endif %}


    </div>
    <div class="col"></div>


<!-- -------------- -->
<!-- ADD MODAL      -->
<!-- -------------- -->

    <div class="modal" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Add bookmark</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">

            <form method="POST" action="" autocomplete="off">
                {{ addform.hidden_tag() }}
                <div class="form-group row">
                    <div class="col-12">
                        {{ addform.url(class="form-control form-control mb-1", pattern="https?://.+", placeholder="url (mandatory)") }}
                        {{ addform.title(class="form-control form-control mb-1", placeholder="title") }}
                        {{ addform.description(class="form-control mb-1", placeholder="description") }}
                        {{ addform.tags(class="form-control form-control mb-1", placeholder="tags (comma separated") }}
                        {{ addform.add(class="btn btn-primary btn-block") }}
                    </div>
                </div>
            </form>

            </div>
        </div>
        </div>
    </div>

<!-- -------------- -->
<!-- EDITION MODAL  -->
<!-- -------------- -->
    
    <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Add bookmark</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <form method="POST" action="" autocomplete="off">
                    <div class="form-group row">
                        {{ editform.hidden_tag() }}
                        <div class="col-12">
                            {{ editform.url(id="input-url", class="form-control form-control mb-1", pattern="https?://.+", placeholder="url (mandatory)") }}
                            {{ editform.title(id="input-title", class="form-control form-control mb-1", placeholder="title") }}
                            {{ editform.description(id="input-description", class="form-control mb-1", placeholder="description") }}
                            {{ editform.tags(id="input-tags", class="form-control form-control mb-1", placeholder="tags (comma separated)") }}
                            {{ editform.myid(id="input-id", class="invisible") }}
                            {{ editform.edit(class="btn btn-primary btn-block") }}
                        </div>
                    </div>
                </form>

            </div>
          </div>
        </div>
    </div>


</div>

<!-- -------------- -->
<!-- DELETE MODAL   -->
<!-- -------------- -->
    
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete bookmark from database?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form method="POST" action="" autocomplete="off">
                <div class="form-group row">
                    {{ deleteform.hidden_tag() }}
                    <div class="col-12">
                        {{ deleteform.myid(id="input-id", class="invisible") }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ deleteform.delete(class="btn btn-danger") }}
                    </div>
                </div>
            </form>

        </div>
      </div>
    </div>
</div>


</div>



<!-- ------------------ -->
<!-- DELETE TAG MODAL   -->
<!-- ------------------ -->

    
<div class="modal" id="deletetagModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletetagModalLabel">Delete tag <strong>{{- pagedata['parameters']['tag'] -}}</strong> from database ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form method="POST" action="" autocomplete="off">
                <div class="form-group row">
                    {{ deletetagform.hidden_tag() }}
                    <div class="col-12">
                        {{ deletetagform.tagname(id="input-tagname", class="invisible") }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ deletetagform.delete_tag(class="btn btn-danger") }}
                    </div>
                </div>
            </form>

        </div>
      </div>
    </div>
</div>


</div>


<!-- --------------------- -->
<!-- EDITION MODAL SCRIPT  -->
<!-- --------------------- -->

<script>
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') 
        var url = button.data('url') 
        var title = button.data('title') 
        var description = button.data('description') 
        var tags = button.data('tags') 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Edit Bookmark (id: ' + id + ')')
        modal.find('#input-title').val(title)
        modal.find('#input-url').val(url)
        modal.find('#input-description').val(description)
        modal.find('#input-tags').val(tags)
        modal.find('#input-id').val(id)
    })
</script>

<!-- --------------------- -->
<!-- DELETE MODAL SCRIPT   -->
<!-- --------------------- -->

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('#input-id').val(id)
    })
</script>

<!-- ------------------------- -->
<!-- DELETE TAG MODAL SCRIPT   -->
<!-- ------------------------- -->

<script>
    $('#deletetagModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var tagname = button.data('tagname') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('#input-tagname').val(tagname)
    })
</script>

{% endblock content %}